/*---------------------------------------
    Main              
-----------------------------------------*/

body {
	background: #ffffff;
    font-family: 'roboto', sans-serif;
    font-style: normal;
	  font-weight: 300;
    overflow-x: hidden;
}

html,body {
    width: 100%;
    height: 100%;
}

.custom-navbar {
    margin-bottom: 0;
    background-color: transparent;
}

/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.custom-navbar {
  margin-bottom: 0;
  background-color: #ffffff;
}

.custom-navbar .navbar-brand {
  color: #333;
text-shadow: 1px 1px #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1px;
}

.custom-navbar .nav li a {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
  transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: #E3AE57;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
background-color: transparent;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #E3AE57;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #E3AE57;
  border-color: transparent;
}

@media(min-width:768px) {
  .custom-navbar {
      padding: 12px 0;
      border-bottom: 0;
      background: 0 0; 
  }
  .custom-navbar.top-nav-collapse {
      background: #ffffff;
      box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
      padding: 0;
  }

}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
  }

/*---------------------------------------
    Home section              
-----------------------------------------*/

#home h1 {
  padding-bottom: 15px;
  color: #fff
}

#home h4 {
    padding-bottom: 0px;
    color: rgb(227, 197, 252)
  }

#home p {
    padding-bottom: 15px;
    color: rgb(227, 197, 252)
  }

#home .col-md-6 {
  background: 	#D64541;
  padding-right: 0;
  padding-left: 0;
}

#home .home-img {
  background: url('images/imgs.jpg');
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
}

#home .home-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 0 45px 0 45px;
}

.button {
    background-color: rgb(103, 55, 158);
}

#home .me-img {
    background: url('static/images/me.jpg');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
  }

  #home .guest-img {
    background: url('static/images/imgs2.jpg');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
  }

/*---------------------------------------
   About section              
-----------------------------------------*/

#about .about-thumb,
#about .skill-thumb {
  padding: 22px 32px 32px 32px;
}

#about .progress {
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  height: 2px;
}

#about .progress-bar-primary {
  background: #232B2B;
}

#about strong,
#about span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
  }

  .bg-oren {
    background: #a0e234;
  }
  
  .bg-white {
    background: #ffffff;
  }
  
  .bg-dark {
    background: #161616;
  }

  .bg-purp {
    background: #c95dda;
  }

  .color-white {
    color: #ffffff;
  }
  
/*---------------------------------------
    Service section              
-----------------------------------------*/

#service {
  background: #c95dda;
}

#service p {
  font-size: 18px;
  line-height: 30px;
}

#service .service-thumb {
  padding: 52px 22px 52px 22px;
  font-size: 42px;
  padding-bottom: 22px;
}

.border {
	border-radius: 0px;
	border-block-start: #D64541;
	background-color: #f2f2f2;
	padding: 50px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 10px;
}

.section-container {
	margin-top: 50px;
	width: 90%;
	margin-bottom: 40px;
	transition: 0.5s;
}