<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    {% block content %}

    <div class="col-md-6 col-sm-6">
        <div class="home-thumb">
            <div class="section-title">
                  <h4 >welcome to my website</h4>
                <h1 >Hello, 
                      I am <strong>Dimas Aditya   </strong>a computer science student.</h1>
                 <p>Ya sangat membatu, terutama 
                      jika pengerjaan sebuah html di kerjakan oleh sebuah tim yang terdiri dari beberapa 
                    orang wireframe memudahkan kita dalam merancang struktur tampilan website agar tak-semrawut.</p>
              <a href="#about" class="section-btn btn btn-success button">More...</a>        
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">
         <div class="me-img"></div>
    </div>
    {% endblock %}
</html>    


