<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'ppw\bootstrap-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ppw\style.css'  %}">
  <!--<link rel="stylesheet" type="text/css" href="{% static 'ppw\font.css' %}">-->
  <!--<script src="bootstrap-dist/js/bootstrap.min.js"></script>-->
</head>

<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">

         <!-- navbar header -->
         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>
              <a href="#" class="navbar-brand">Stimulus</a>
         </div>

         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                   <li><a href="home" class="smoothScroll">Home</a></li>
                   <li><a href="aboutme" class="smoothScroll">About Me</a></li>
                   <li><a href="#expe" class="smoothScroll">Experiences</a></li>
                   <li><a href="guest" class="smoothScroll">Testimonial</a></li>
                   <li><a href="#contact" class="smoothScroll">Contact</a></li>
              </ul>
         </div>

    </div>
</div>

<section id="home" class="container-fluid">
    <div class="container">
         <div class="row">
            {% block content %}
            {% endblock %}
         </div>
    </div>
</section>