{% extends 'base.html' %}
<!DOCTYPE html>
</html>
{% block content %}
      <section id="about" class="parallax-section">
            <div class="container">
                  <div class="row">
      
                        <div class="col-md-6 col-sm-12">
                        <div class="about-thumb">
                              <div>
                                    <h1>This is my Exp</h1>
                                    <p class="color-yellow">
                                          So this is my expirience for this past 1 year on fasilkom ui, 
                                    look forward fo my next year would be</p>
                              </div>
                        </div>
                        </div>
      
                        <div class="col-md-3 col-sm-6 service bg-purp">
                              <div class="skill-thumb"></div>
                        </div>
      
                        <div class="bg-blu col-md-3 col-sm-6">
                        <div class="skill-thumb">
                  </div>
            </div>
      </section>

      <section id="service" class="parallax-section">
            <div class="container">
                  <div class="row bg-oren">
                        <div class="col-md-3 col-sm-6">
                        <div class="service-thumb">
                                    <h3>Coding</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim eius placeat velit, quibusdam ducimus ipsam</p>
                        </div>
                        </div>
      
                        <div class="col-md-3 col-sm-6">
                        <div class="service-thumb">
                                    <h3>Coding</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim eius placeat velit, quibusdam ducimus ipsam</p>
                        </div>
                        </div>
      
                        <div class="col-md-3 col-sm-6">
                        <div class="service-thumb">
                                    <h3>Coding</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim eius placeat velit, quibusdam ducimus ipsam</p>
                        </div>
                        </div>
      
                        <div class="col-md-3 col-sm-6">
                        <div class="service-thumb">
                                    <h3>Coding</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim eius placeat velit, quibusdam ducimus ipsam</p>
                        </div>
                        </div>
      
                  </div>
            </div>
      </section>
{% endblock %}