.<!DOCTYPE html>
{% load static %}
<html>
{% block content %}
<body class="bg-grey">
  <div class="container-fluid bg-white section-container rounded" id="bukutamu">
    <div class="row">
      <div class="col-md-4 left">
        <h1>Registrasi</h1>
      </div>
      <div class="col-md-8 right">
        <form>
          <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" id="username">
          </div>
          <div class="form-group">
              <label for="email">E-Mail</label>
              <input class="form-control" type="email" id="email">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" type="password" id="password">
          </div>
          <div class="form-group">
              <label for="passwordver">Password (Verification)</label>
              <input class="form-control" type="password" id="passwordver">
          </div>
          <div class="form-group">
              <label for="nama">Nama</label>
              <input class="form-control" type="name" id="nama">
          </div>
          <div class="form-group">
            <label for="tanggallahir">Tanggal Lahir</label>
              <input class="form-control" type="date" id="tanggallahir">
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

<div class="col-md-6 col-sm-6">
     <div class="guest-img"></div>

    </div>
{% endblock %}
</html>


