<!DOCTYPE html>
{% extends 'base.html' %}

<html>
{% block content %}
    <div class="col-md-6 col-sm-6">
      <div class="home-img"></div>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="home-thumb">
           <div class="section-title">
                <h4>welcome to my website</h4>
                <h1>Hello, 
                    I am <strong>Dimas Aditya   </strong>a computer science student.</h1>
                <p>This website is build for my 
                  studies in ppw course. There is still a lot of works to do, and i need time 
                  to develop it until it became a decent one. So please enjoy. </p>
                <a href="#about" class="section-btn btn btn-success button">More...</a>
          </div>
      </div>
    </div>
</html>
{% endblock %}
     